[Unit]
Description=Daily download of the latest BBC Global News Podcast

[Timer]
OnCalendar=*-*-* 09:00:00
Persistent=true
RandomizedDelaySec=15min

[Install]
WantedBy=timers.target
